* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// custom-scrollbar.css

::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar*/
  width: 8px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #dcdee2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c8cf;
  border-radius: 5px;
}
